@model Zoologico.Models.Historial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Historial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aves)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aves)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mamiferos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mamiferos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peces)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peces)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reptiles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reptiles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
