@model IEnumerable<Zoologico.Models.Historial>

@{
    ViewData["Title"] = "Index";
}


<div class=" jumbotron">
    <h1>Historial</h1>

    <p>
        <a asp-action="Create">Crear un nuevo registro</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Aves)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Mamiferos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Peces)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reptiles)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aves)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mamiferos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peces)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reptiles)
                    </td>
                    <td>

                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary" >Edit </a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" >Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" >Delete</a>

                       
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>